<ion-header>
  <div class="login-header ion-padding">
    <img src="https://cdn.discordapp.com/attachments/1104853389877190766/1178093780226822336/an_transport_car.png?ex=6574e455&is=65626f55&hm=107a5955e87c052ef925bfd471c42cf1d88c6f377be8239e5834fc97c612a11d&" alt="" class="logo-img" style="border-radius: 1rem;">
  </div>
</ion-header>

<ion-content>

  <div class="ion-padding contenido">
    <form [formGroup]="loginForm" class="loginForm"  class="ion-margin-top" novalidate>
      <h3>Iniciar Sesión</h3>

      <!-- Email -->
      <ion-item class="ion-margin-bottom">
        <ion-input formControlName="email" type="email" labelPlacement="floating" label="E-mail" required type="email" aria-label="Email" name="email" class="custom "></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
      <div *ngIf="this.loginForm.controls['email'].touched && this.loginForm.controls['email'].invalid">
        <ion-text color="primary" *ngIf="errorControl['email'].errors?.['required']">
          email is required
        </ion-text>
        <ion-text color="primary" *ngIf="errorControl['email'].errors?.['pattern']">
          email invalid
        </ion-text>
      </div>

      <!-- Contrasena -->
      <ion-item>
        <ion-input formControlName="password" labelPlacement="floating" label="Password" required type="password" aria-label="password"
          name="password" style="border-radius: 20px;"></ion-input>
          <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>
      <div *ngIf="this.loginForm.controls['password'].touched && this.loginForm.controls['password'].invalid">
        <ion-text color="primary" *ngIf="errorControl['password'].errors?.['required']">
          password is required
        </ion-text>
        <ion-text color="primary" *ngIf="errorControl['password'].errors?.['pattern']">
          password invalid
        </ion-text>
      </div>

      <ion-button (click)="login()" expand="full" type="submit" class="ion-padding"  shape="round">
        Iniciar Sesión
      </ion-button>
    </form>
    <div class="centro">
      <p>No tienes cuenta?</p>
      <ion-button (click)="crearCuenta()" expand="block" fill="clear">
        Crear cuenta
      </ion-button>

      <ion-button (click)="restaurarContrasena()" expand="block" fill="clear">
        Olvide mi contraseña
      </ion-button>
    </div>
  </div>


</ion-content>