<ion-header>

</ion-header>

<ion-content>
  <ion-fab slot="fixed" vertical="top" horizontal="left" class="ion-padding" (click)="volver()">
    <ion-fab-button>
      <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <div class="div-imagen">
    <img
      src="https://cdn.discordapp.com/attachments/1104853389877190766/1150941147150155816/Screenshot_20230911-204801.png"
      alt="">
  </div>

  <div class="div-fondo">
    <ion-list>
      <ion-item>
        <ion-label>
          <h2>En Camino a: #Los copihues 5648</h2>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Tiempo estimado: 20 Minutos</h2>
        </ion-label>
      </ion-item>


      <ion-item>
        <ion-avatar slot="start">
          <ion-img src="https://i.pravatar.cc/300?u=a"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>Conductor</h2>
          <p>Connor Smith</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-button (click)="onClick()" expand="block" shape="round" class="ion-padding" style="width: 100%;">
          Finalizar Viaje
        </ion-button>
      </ion-item>
    </ion-list>
  </div>


</ion-content>