.cancelar {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
}

ion-modal {
    --height: 50%;
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal::part(backdrop) {
    background: rgba(209, 213, 219);
    opacity: 1;
}

ion-modal ion-toolbar {
    --background: rgb(66 140 255);
    --color: white;
}

capacitor-google-map {
    display: inline-block;
    width: 100%;
    height: 80%;
}

.down {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
    /* Ajusta según sea necesario para que esté por encima del contenido */
}


ion-content {
    --background: transparent;
}

body {
    background: transparent;
}