<ion-header>

</ion-header>

<ion-content>
  <ion-fab slot="fixed" vertical="top" horizontal="left" class="ion-padding" (click)="volver()">
    <ion-fab-button>
      <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <div class="div-imagen">
    <img
      src="https://cdn.discordapp.com/attachments/1104853389877190766/1150941147150155816/Screenshot_20230911-204801.png"
      alt="">
  </div>

  <div class="div-fondo" *ngIf="viaje">
    <ion-list>
      <ion-item>
        <ion-label>
          <h2>Destino: #{{viaje.destino}}</h2>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Asientos restantes: {{viaje.disponibles}}</h2>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <ion-img src="https://i.pravatar.cc/300?u=a"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>Conductor</h2>
          <p>{{viaje.chofer}}</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar class="ion-margin-end">
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-button id="open-modal" (click)="abrirModal()" expand="block">Ver pasajeros</ion-button>
      </ion-item>

      <ion-item>
        <ion-button (click)="onClick()" expand="block" shape="round" class="ion-padding" style="width: 100%;">
          Finalizar Viaje
        </ion-button>
      </ion-item>
    </ion-list>
  </div>




  <ion-modal #modal trigger="open-modal">
    <ng-template>
      <ion-content>
        <ion-toolbar>
          <ion-title>Pasajeros</ion-title>
          <ion-buttons slot="end">
            <ion-button color="light" (click)="modal.dismiss()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
        <div class="ion-padding">
        <ion-text *ngIf="viaje.clientes && viaje.clientes.length === 0">
          <h1>No hay pajeros regitrados</h1>
        </ion-text>
        <ion-item *ngFor="let cliente of viaje.clientes">
          <ion-avatar slot="start">
            <ion-img [src]="'https://i.pravatar.cc/300?u=' + cliente.email"></ion-img>
          </ion-avatar>
          <ion-label>
            <p>{{ cliente }}</p>
          </ion-label>
        </ion-item>
      </div>
      </ion-content>
    </ng-template>
  </ion-modal>
  


</ion-content>