.avatar{
    margin: auto;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.iconos{
    padding-right: 0.5rem;
}

ion-button{
    span{
        text-align: left;
        width: 100%;
    }
}

.button-inner{
    flex-flow: column;
}




.login-header {
    background-color: #428cff;
}

.login-header::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 15%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: #428cff;
    
    border-bottom: 0;
    margin-left: -15px;
    margin-bottom: -15px;
    }


.logo-img {
    display: block;
    width: 120px;
    margin:  auto;
    text-align: center;
}