<ion-header>
  <div class="login-header ion-padding">
    <img src="https://cdn.discordapp.com/attachments/1104853389877190766/1178433690506899617/hombre.png?ex=657620e6&is=6563abe6&hm=d1de9b874bae9cc7904fb73062907bbf3d03f6bfb4fec99ee5da7fa3c8936001&" alt="" class="logo-img" style="border-radius: 1rem;">
  </div>
</ion-header>


<ion-content class="ion-padding">
  <ion-list>
  <ion-item *ngIf="sesion"> {{ sesion.name }}</ion-item>
  <ion-item *ngIf="sesion"> {{ sesion.phone }} </ion-item>
  <ion-item *ngIf="sesion"> {{ sesion.email }} </ion-item>
</ion-list>

<ion-list-header>Vehículo</ion-list-header>
<ion-list *ngIf="datosCargados"> <!-- Mostrar el contenido solo cuando los datos estén cargados -->
  <div *ngIf="sesion.auto.marca">
    <ion-item [button]="true">Marca: {{ sesion.auto.marca }} </ion-item>
    <ion-item [button]="true">Modelo: {{ sesion.auto.modelo }}</ion-item>
    <ion-item [button]="true">Patente: {{ sesion.auto.patente }}</ion-item>
  </div>


  <div *ngIf="sesion.auto && sesion.auto.marca; else agregarVehiculoTemplate">
    <!-- Si tiene un vehículo con marca -->
    <ion-item color="primary" [button]="true" (click)="addCar()">Modificar Vehículo</ion-item>
    <ion-item color="primary" [button]="true" (click)="mostrarConfirmacion()">Eliminar Vehículo</ion-item>
  </div>


  <ng-template #agregarVehiculoTemplate>
    <!-- Si no tiene un vehículo con marca -->
    <ion-item color="primary" [button]="true" (click)="addCar()"> Agregar Vehiculo</ion-item>
  </ng-template>
</ion-list>

  <ion-list-header>Configuracion</ion-list-header>
  <ion-list *ngIf="viajeOfrecido" >
    <ion-item color="primary" [button]="true" (click)="ofrecido()"> Ultimo viaje ofrecido</ion-item>
  </ion-list>
  <ion-list *ngIf="viajePedido" >
    <ion-item color="primary" [button]="true" (click)="pedido()"> Ultimo viaje pedido</ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="danger" [button]="true" (click)="logout()"> Cerrar Sesión</ion-item>
  </ion-list>

  <!--
  <ion-modal #modal trigger="open-modal-nombre" [initialBreakpoint]="0.20" [breakpoints]="[0, 0.20]">
    <ng-template>
      <ion-content class="ion-padding">
        <ion-input type="text" placeholder="Nuevo nombre"></ion-input>
        <ion-button expand="block" fill="solid" shape="round">
          Cambiar
        </ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
  <ion-modal #modal trigger="open-modal-numero" [initialBreakpoint]="0.20" [breakpoints]="[0, 0.20]">
    <ng-template>
      <ion-content class="ion-padding">
        <ion-input type="text" placeholder="Nuevo numero"></ion-input>
        <ion-button expand="block" fill="solid" shape="round">
          Cambiar
        </ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal #modal trigger="open-modal-numero" [initialBreakpoint]="0.20" [breakpoints]="[0, 0.20]">
    <ng-template>
      <ion-content class="ion-padding">
        <ion-input type="text" placeholder="Nuevo numero"></ion-input>
        <ion-button expand="block" fill="solid" shape="round">
          Cambiar
        </ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal #modal trigger="open-modal-numero" [initialBreakpoint]="0.20" [breakpoints]="[0, 0.20]">
    <ng-template>
      <ion-content class="ion-padding">
        <ion-input type="text" placeholder="Nuevo numero"></ion-input>
        <ion-button expand="block" fill="solid" shape="round">
          Cambiar
        </ion-button>
      </ion-content>
    </ng-template>
  </ion-modal> -->
</ion-content>