<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-avatar class="avatar">
    <img src="../../../assets/icon/favicon.png" />
  </ion-avatar>
  <ion-list-header>Información personal</ion-list-header>
  <ion-list [inset]="true">
    <ion-item [button]="true" id="open-modal-nombre">Nombre: John Doe <ion-icon slot="end" name="create"></ion-icon></ion-item>
    <ion-item [button]="true" id="open-modal-numero">Telefono: +56934813838<ion-icon slot="end" name="create"></ion-icon></ion-item>
  </ion-list>

  <ion-list-header>Configuracion</ion-list-header>
  <ion-list [inset]="true">
    <ion-item>
      <ion-range value="40">
        <ion-icon name="sunny-outline" slot="start"></ion-icon>
        <ion-icon name="sunny" slot="end"></ion-icon>
      </ion-range>
    </ion-item>
    <ion-item>
      <ion-toggle justify="space-between" checked>Prueba toogle</ion-toggle>
    </ion-item>
    <ion-item color="danger" [button]="true"> Cerrar Sesión</ion-item>
  </ion-list>

  <!--Modal para cambiar nombre-->
  <ion-modal #modal trigger="open-modal-nombre" [initialBreakpoint]="0.20" [breakpoints]="[0, 0.20]">
    <ng-template>
      <ion-content class="ion-padding">
        <ion-input type="text" placeholder="Nuevo nombre"></ion-input>
        <ion-button expand="block" fill="solid" shape="round">
          Cambiar
        </ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>

  <!--Modal para cambiar numero-->
  <ion-modal #modal trigger="open-modal-numero" [initialBreakpoint]="0.20" [breakpoints]="[0, 0.20]">
    <ng-template>
      <ion-content class="ion-padding">
        <ion-input type="text" placeholder="Nuevo numero"></ion-input>
        <ion-button expand="block" fill="solid" shape="round">
          Cambiar
        </ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>