<ion-header>

</ion-header>

<ion-content>
  <ion-fab slot="fixed" vertical="top" horizontal="left" class="ion-padding" (click)="volver()">
    <ion-fab-button>
      <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <div class="div-imagen">
    <img
      src="https://cdn.discordapp.com/attachments/1104853389877190766/1150941147150155816/Screenshot_20230911-204801.png"
      alt="">
  </div>
  

  <ion-modal
      #modal
      [isOpen]="true"
      [initialBreakpoint]="0.25"
      [breakpoints]="[0.25, 0.5, 0.75]"
      [backdropDismiss]="false"
      [backdropBreakpoint]="0.5"
      *ngIf="viaje" 
    >
      <ng-template>
        <ion-content >
          <ion-list>
            <ion-item>
              <ion-label>
                <h2>Destino: #{{viaje.destino}}</h2>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <h2>Tarifa: ${{viaje.tarifa}}</h2>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <h2>Asientos disponibles: {{viaje.asientos}}</h2>
              </ion-label>
            </ion-item>
            <form #miFormulario="ngForm" (ngSubmit)="onClick()" class="formulario">
              <ion-item class="ion-margin-bottom ion-margin-top">
                <ion-input labelPlacement="floating" label="Numero asientos" required type="number" aria-label="asientos" name="asientos"
                  [(ngModel)]="asientos" max="4"></ion-input>
              </ion-item>

            <ion-item>
              <ion-avatar slot="start">
                <ion-img src="https://i.pravatar.cc/300?u=a"></ion-img>
              </ion-avatar>
              <ion-label>
                <h2>Conductor</h2>
                <p></p>
              </ion-label>
            </ion-item>
              <ion-button (click)="onClick()" expand="full" type="submit" class="ion-padding" [disabled]="miFormulario.invalid" shape="round">
                Enviar
              </ion-button>
            </form>
      
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-modal>

</ion-content>