<ion-header>


</ion-header>

<ion-content class="ion-padding">
  <div>
    <h3 style="display: inline-block;" class="ion-margin-end">Solicitar viaje</h3> 
    <ion-icon name="car-sport-outline" size="large" style="margin: 0;"></ion-icon>

  </div>

  <ion-searchbar show-clear-button="always" value="Destino"></ion-searchbar>
  <ion-button  expand="full" fill="clear" shape="round" color="success">
    Volver al viaje
  </ion-button>
  <br>
  <ion-list>
    <ion-item [button]="true" (click)="irViaje()">
      <ion-icon name="location-sharp" slot="start" class="ion-margin-end"></ion-icon>
      <ion-label>
        <h2>#El Retamo 4248</h2>
        <p>Por: Connor Smith</p>
      </ion-label>
    </ion-item>
    <ion-item [button]="true" (click)="irViaje()">
      <ion-icon name="location-sharp" slot="start" class="ion-margin-end"></ion-icon>
      <ion-label>
        <h2>#Los copihues 5648</h2>
        <p>Por: Daniel Contreras</p>
      </ion-label>
    </ion-item>

    <ion-item [button]="true" (click)="irViaje()">
      <ion-icon name="location-sharp" slot="start" class="ion-margin-end"></ion-icon>
      <ion-label>
        <h2>#Av Manuel Rodriguez 560</h2>
        <p>Por: Greg Smith</p>
      </ion-label>
    </ion-item>

    <ion-item [button]="true" (click)="irViaje()">
      <ion-icon name="location-sharp" slot="start" class="ion-margin-end"></ion-icon>
      <ion-label>
        <h2>#Av Los Carrera 960</h2>
        <p>Por: Zoey Smith</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>