<ion-header>
  <ion-toolbar>
    <ion-searchbar searchIcon="search-circle" animated="true" showClearButton="focus" clearIcon="trash-bin" debounce="800" (ionInput)="onSearchChange($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="places.length > 0 " >
    <ion-item *ngFor="let place of places" >
      <ion-icon slot="start" name="location-outline"></ion-icon>
      <ion-label (click)="selectedPlace(place)">
        {{place?.title}}
        <p>
          <ion-text>
            {{place?.address}}
          </ion-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list> 
  <capacitor-google-map #map></capacitor-google-map>


  <ion-button *ngIf="!viaje; else conViaje"  (click)="onClick('crear-viaje')" expand="block" fill="solid" shape="round" color="success">
    Crear viaje
  </ion-button>
  <ng-template #conViaje>
  <ion-button (click)="onClick('conductor-viaje')" expand="block" fill="solid" shape="round" color="success">
      Volver al viaje 
  </ion-button>

  </ng-template>

</ion-content>
