<ion-content class="ion-padding">
  <h3>Crear viaje</h3>
  <form #miFormulario="ngForm" (ngSubmit)="onSubmit()" *ngIf="sesion" >
    <ion-item>
      <ion-input labelPlacement="floating" label="Lugar de partida" required type="text" aria-label="Lugar de partida" debounce="200" [(ngModel)]="viaje.partida" name="inicio" (ionInput)="onSearchChange($event,'partida')" ></ion-input>
    </ion-item>
    <!--Lista de Places API-->
    <ion-list *ngIf="partidaPlaces.length > 0 " >
      <ion-item *ngFor="let place of partidaPlaces" >
        <ion-icon slot="start" name="location-outline"></ion-icon>
        <ion-label (click)="selectedPartida(place)">
          {{place?.title}}
          <p>
            <ion-text>
              {{place?.address}}
            </ion-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list> 

    <ion-item>
      <ion-input labelPlacement="floating" label="Lugar de destino" required type="text" aria-label="Lugar de destino" debounce="200" [(ngModel)]="viaje.destino" name="destino"  (ionInput)="onSearchChange($event,'destino')"></ion-input>
    </ion-item>
    <ion-list *ngIf="destinoPlaces.length > 0 " >
      <ion-item *ngFor="let place of destinoPlaces" >
        <ion-icon slot="start" name="location-outline"></ion-icon>
        <ion-label (click)="selectedDestino(place)">
          {{place?.title}}
          <p>
            <ion-text>
              {{place?.address}}
            </ion-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list> 
    <ion-item>
      <ion-input labelPlacement="floating" type="text" label="Patente vehiculo" required aria-label="Patente vehiculo" name="patente" readonly [required]="true" [(ngModel)]="sesion.auto.patente"></ion-input>

    </ion-item>
    <ion-item>
      <ion-input labelPlacement="floating" label="Cantidad de asientos" required type="number" aria-label="Cantidad de asientos" name="asientos" [(ngModel)]="viaje.asientos" min="1" max="10"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input labelPlacement="floating" label="Tarifa" required type="number" aria-label="Tarifa" name="tarifa" [(ngModel)]="viaje.tarifa" min="0"></ion-input>
    </ion-item>
    <!--  <ion-button block color="primary" type="submit" [disabled]="loginForm.invalid">
      Login
    </ion-button> -->
    <ion-button expand="full" color="primary" type="submit" class="ion-padding" [disabled]="miFormulario.invalid">
      Crear viaje
    </ion-button>
  </form>

<!-- 
  <ion-card *ngIf="sesion.solicitado" >
    <ion-card-header>
      <ion-card-title>No se puede ofrecer viajes si ya hay uno en curso</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      
    </ion-card-content>
  </ion-card> -->


  <ng-template #conViaje>
  <ion-button (click)="onClick('conductor-viaje')" expand="block" fill="solid" shape="round" color="success">
      Volver al viaje 
  </ion-button>

  </ng-template>

</ion-content>
