<ion-header>
  <div class="login-header ion-padding">
    <img src="https://logospng.org/download/uber/logo-uber-icone-4096.png" alt="" class="logo-img">
  </div>
</ion-header>

<ion-content>
  <ion-fab-button class="ion-padding" (click)="volver()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-fab-button>

  <div class="ion-padding contenido">
    <form [formGroup]="signupForm" class="formulario">
      <h3>Crear Cuenta</h3>
      <ion-item class="ion-margin-bottom">
        <ion-input formControlName="name" labelPlacement="floating" label="Nombre" required type="texto" aria-label="nombre" name="name" class="custom "></ion-input>
          <ion-icon name="person-outline"></ion-icon>
      </ion-item>


      <ion-item class="ion-margin-bottom">
        <ion-input formControlName="email" labelPlacement="floating" label="E-mail" required type="email" aria-label="Email" name="email" class="custom "></ion-input>
          <ion-icon name="mail-outline"></ion-icon>
      </ion-item>
      <div *ngIf="this.signupForm.controls['email'].touched && this.signupForm.controls['email'].invalid">
        <ion-text color="primary" *ngIf="errorControl['email'].errors?.['required']">
          email is required
        </ion-text>
        <ion-text color="primary" *ngIf="errorControl['email'].errors?.['pattern']">
          email jnvalid
        </ion-text>
      </div>


      <ion-item>
        <ion-input formControlName="password" labelPlacement="floating" label="Password" required type="password" aria-label="password"
          name="password" style="border-radius: 20px;"></ion-input>
          <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>
      <div *ngIf="this.signupForm.controls['password'].touched && this.signupForm.controls['password'].invalid">
        <ion-text color="primary" *ngIf="errorControl['password'].errors?.['required']">
          password is required
        </ion-text>
        <ion-text color="primary" *ngIf="errorControl['password'].errors?.['pattern']">
          password jnvalid
        </ion-text>
      </div>

      <ion-button (click)="signUP()" expand="full" type="submit" class="ion-padding" shape="round">
        Registrame
      </ion-button>
    </form>
  </div>


</ion-content>